html, body {
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #fdddee;
	background-image: url("./../img/star.gif");
	display: flex;
	margin: 0;
}

.header{
	font-family: 'Shadows Into Light Two', cursive;
	text-align: center;
}

.navbar {
	font-family: 'Shadows Into Light Two', cursive;
	background-color: #FFB6C1;
}

.navbar li a:hover{
	background-color: #e5a3ad;
}

/*.navbar>li:first-child{
	margin-right: 4%;
}*/

#main {
	background-color: #FFF;
}

.btn-outline-primary {
	color: white;
	background-color: #FFB6C1;
	border: 2px solid #e5a3ad;
}

.btn-outline-primary:hover{
	background-color: #e5a3ad;
}

#mercis {
	background-color: #e5a3ad;
}
